.navbar {
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  background-color: var(--header-bg-color);
}

.listing--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
}

.listing--card--image-container {
  position: relative;
}

.listing--card--image-container::after {
  content: "SOLD";
  position: absolute;
  left: 20%;
  top: 50%;  
  /* transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%) rotate(-45deg);
  color: white;
  background-color: rgba(255, 0, 0, 1);
  padding: 0.5em;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}


.listing--card {
	width: 100%;
	height: 20em;
  text-decoration: none;
  display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 10px;
	text-decoration: none;
  color: black;
	box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, .1);
	transition: transform 0.45s ease, background 0.45s ease;
}


.listing--card:hover {
  transform: scale(1.01);
  transition: 400ms;
}

.listing--card--image {
  width: 100%;
  height: 11em;
  object-fit: cover;
}

.listing--card--address {
  height: 2em;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.listing--card--link{
  text-decoration: none;
  color: black;
}

.listing--card--like--button {
  position: relative;
  bottom: .5em;
}


.card--icons {
  display: flex;
}

.card--icons p {
  margin-right: 1em;
}

.form--container {
  margin: auto;
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.Login {
  margin: 4em auto;
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.Login h1 {
  text-align: center;
  font-size: 24px;
}

.Login form {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 10px;
}

.Login form div {
  margin: 10px 0;
}

.Login form label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.Login form input {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.Login .error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.Login .link {
  text-decoration: none;
}


.Register {
  margin: 2em auto;
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.Register h1 {
  text-align: center;
  font-size: 24px;
}

.Register form {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 10px;
}

.Register form div {
  margin: 10px 0;
}

.Register form label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.Register form input {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.Register .error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.Register .link {
  text-decoration: none;
}


.create--listing--form label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.search--bar--and--filters--container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 25px;
}

.search--bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  min-width: 300px;
  padding: 5px;
  background-color: #f5f5f5;
  border: 2px solid black;
  border-radius: 10px;
}

.search--bar input {
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #333;
  outline: none;
}

.search--select {
  font-size: 18px;
  min-width: 10em;
  margin-left: 1em;
}

.search--bar button[type="submit"] {
  color: black;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}



.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 5px;
  text-align: center;
  width: 140px;
  background: white;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  overflow: hidden;
}


.active-tabs  {
  background: white;
  font-weight: 700;
}


.tab-button{
  border: 2px solid black;
}

.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 80vh;
  display: none;
  border: 2px solid black;
}
.active-content {
  display: block;
  overflow-y: scroll;
}


.heart{
  font-size: 25px;
  color:rgb(182, 173, 173);
  outline: none;
  cursor: pointer;
}

.heart:hover{
  color: rgb(192, 39, 39);
}

.heart.active{
  color: red;
}

.outer--container {
	display: table;
	width: 100%;
  height: 94vh;
}

.chat--sidebar {
  display: table-cell;
	width: 30%;
	vertical-align: top;
  border-right: 1px solid #ccc;
}

.chat--sidebar--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.chat--sidebar--header h3 {
  font-size: 18px;
  margin: 0;
}

.chat--sidebar--users {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  cursor: pointer;
}

.chat--sidebar--users h3 {
  padding: 10px 20px;
}

.chat--sidebar--user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.chat--sidebar--user--active {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;

}

.chat--sidebar--user:hover {
  background-color: #f5f5f5;
}

.chat--main {
  display: table-cell;
  width: 85%;
  height: 80vh;
  vertical-align: top;
}

.chat--main--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.chat--main--header h3 {
  font-size: 18px;
  margin: 0;
}

.chat--main--messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 20px;
  width:100%;
  height:70vh;
  overflow-y: scroll;
}

.chat--main--offer h3 {
  font-size: 18px;
  margin: 0;
}

.chat--main--offer--message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.chat--main--offer--message button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}


.chat--main--message {
}

.chat--main--message h3 {
  font-size: 18px;
  margin: 0;
}

.chat--main--message--body {
  font-size: 14px;
  margin: 0;
  background-color: #ccc;
}

.chat--main--message--time {
  font-size: 12px;
  margin: 0;
  color: #ccc;
}

.chat--main--input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 60%;
}

.chat--main--input input {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-right: 1em;
}

.chat--main--input button {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  width: 8em;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
}

.chat--main--input button:hover {
  background-color: #aaa;
}

.chat--main--input button:active {
  background-color: #888;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input,
.num-rooms-select,
.sorting-order-select,
.sale-type-select {
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  margin-bottom: 6px;
  margin-right: 12px;
  flex-basis: 100%;
}

.search-button {
  height: 36px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0062cc;
}

@media (max-width: 767px) {
  .num-rooms-select,
  .sorting-order-select,
  .sale-type-select {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .num-rooms-select,
  .sorting-order-select,
  .sale-type-select {
    flex-basis: 31.45%;
  }
}

@media (min-width: 992px) {
  .search-container {
    flex-wrap: nowrap;
  }

  .search-input {
    flex-basis: 30%;
  }

  .num-rooms-select,
  .sorting-order-select,
  .sale-type-select {
    flex-basis: 20%;
  }
}


.listing--details--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}



.carousel {
  width: 500px;
  height: 400px;
  margin-bottom: 20px;
}
.carousel-item img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}


.edit-profile__form {
  display: flex;
  flex-direction: column;
}

.edit-profile__label {
  font-weight: bold;
}

.edit-profile__input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.edit-profile__submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0077c0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.edit-profile__submit-btn:hover {
  background-color: #005ca9;
}

.edit-profile__error {
  color: red;
  margin-bottom: 10px;
}

.edit-profile__success {
  color: green;
  margin-bottom: 10px;
}

.edit-profile__upload-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.edit-profile__upload-btn {
  margin-bottom: 20px;
}

.edit-profile__current-photo {
  max-width: 200px;
  margin-bottom: 20px;
}

.edit-profile__photo-preview {
  max-width: 200px;
  margin-bottom: 20px;
}

.edit-profile__form-group {
  margin-bottom: 20px;
}

.delete-profile__submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}